.password-reset-paper {
    margin-top: 80px;
    padding: 20px;
  }
  
  .password-reset-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .password-reset-title {
    margin-bottom: 10px;
  }
  
  .password-reset-button {
    background-color: #1976d2;
    color: white;
  }
  
  .password-reset-success {
    text-align: center;
    color: green;
    margin-top: 10px;
  }
  