/* Overlay */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Modal */
  .modal {
    position: relative;
    width: 80%;
    max-width: 600px;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  }
  
  .modal-content {
    position: relative;
  }
  
  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff5c5c;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
  }
  
  .history-content {
    max-height: 400px;
    overflow-y: auto;
  }
  
  .history-entry {
    background-color: #7ec2fd; /* Light blue background */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .prescription-list {
    margin-left: 20px;
    list-style-type: disc;
  }
  